body{
    margin: 0;
}
.header{
    background-color: royalblue;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    padding: 0 2rem;
}