.Label{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%
}
.AlertLabel{
    font-size: 1.1em;
    color: gray;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%
}